<div class="row">
  <div class="col-sm-4 col-md-3 col-lg-2">
    <div class="actions">
      <button type="button" class="btn btn-outline-primary" (click)="create()">Create new</button>
    </div>
  </div>
  <div class="col-sm">
    <div class="address-list">
      <div class="address" (click)="select()">
        <h4>Leanne Graham</h4>
        <p>Kulas Light, Apt. 556</p>
      </div>
      <div class="address" (click)="select()">
        <h4>Ervin Howell</h4>
        <p>Victor Plains, Suite 879</p>
      </div>
      <div class="address" (click)="select()">
        <h4>Clementine Bauch</h4>
        <p>Douglas Extension, Suite 847</p>
      </div>
      <div class="address" (click)="select()">
        <h4>Patricia Lebsack</h4>
        <p>Hoeger Mall, Apt. 692</p>
      </div>
    </div>
  </div>
</div>
